.form{
    display: flex;
    flex-direction: column;
}

form small{
    color:red;
    padding:16px;
}

.form button{
    box-sizing: border-box;
    margin-top: 16px;
    width: 200px;
    height: 50px;
    border-radius: 16px;
    outline: none;
}